/* .home-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
   */
  
  
  
  