

.home-container {
    width: 100vw;
    
    margin: 0 auto;
    background-color: black;
    color:white;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: small;
    font-family: 'Inter', sans-serif;
    
  }
  
  .grid-container {
    
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    left:20px;
    
    
  }
  
  .grid-item {
    background-color: black;
    padding: 30px;
    color: aliceblue;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    
  }
  
  
  
  
  
  
  
